### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/libraries/h2database_h2.xml
/.idea/libraries/hibernate_orm_core.xml
/.idea/libraries/jakarta_persistence_api.xml
/.idea/libraries/slf4j_api.xml
/.idea/libraries/springframework_data_spring_jpa.xml

### Databases ###
*.db
*.mv.db